
html {
  font-size: 14px;
}

.App {
  background: #e2e2e2;
  padding: 40px;
  min-height: 100vh;
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 1;
  z-index: -1;
}
.bg_custom {
  background-image: radial-gradient(#d4d4d4 2px, #c4c4c4 2px);
  background-size: 20px 20px;
}

.card {
  background: white;
  margin: 10px;
}

#card-loser {
  overflow-y: auto;
  height: 70vh;
}

/* TODO 縦幅が右上と合わせてloserと同じになるように */
#card-answer {
  overflow-y: auto;
  height: 40vh;
  margin: 20px 10px 10px 10px
}