
html {
  font-size: 14px;
}

.App {
  background: #c4c4c4;
  padding: 40px;
  min-height: 100vh;
}

.card {
  background: white;
  border-radius: 4px;
  margin: 20px;
  padding: 0 20px 0 20px;
}

#card-looser {
  overflow-y: auto;
  height: 80vh;
}