
html {
  font-size: 14px;
}

.App {
  background: #e2e2e2;
  padding: 40px;
  min-height: 100vh;
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 1;
  z-index: -1;
}

.bg_custom {
  background-image: radial-gradient(#d4d4d4 2px, #c4c4c4 2px);
  background-size: 20px 20px;
}

.btn {
  /* padding: 4px 15px 4px 15px !important;
  border-radius: 9999px !important */
  border-radius: 0 !important
}

.card {
  background: white;
  margin: 10px;
  border-radius: 0 !important
}

.small-card {
  width: 270px !important;
  margin: 0 auto;
}

#card-loser {
  overflow-y: auto;
  height: 70vh;
}

#card-matching {
  height: 25vh;
}

/* TODO 縦幅が右上と合わせてloserと同じになるように */
#card-answer {
  overflow-y: auto;
  height: 43vh;
  margin: 20px 10px 10px 10px
}

.card-header {
  /* background-color: #e0ff93 !important; */
}

/*------------------------------------
- COLOR dark
------------------------------------*/

.btn-dark {
  color: #fff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.btn-dark:hover {
  color: #212529 !important;
  background-color: #aff400 !important;
  border-color: #aff400 !important;
}

.btn-outline-dark {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
}

.btn-outline-dark:hover {
  color: #212529 !important;
  background-color: #c7ff15 !important;
  border-color: #c7ff15 !important;
}

/*------------------------------------
- COLOR light
------------------------------------*/

.btn-light {
  color: #000000 !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-light:hover {
  color: #212529 !important;
  background-color: #aff400 !important;
  border-color: #aff400 !important;
}


/*------------------------------------
- COLOR secondary
------------------------------------*/

.btn-secondary {
  color: #fff;
  background-color: #817f7f;
  border-color: #817f7f;
}

.btn-secondary:hover {
  color: #212529 !important;
  background-color: #aff400 !important;
  border-color: #aff400 !important;
}

.btn-outline-secondary {
  color: #817f7f;
  background-color: transparent;
  border-color: #817f7f;
}

.btn-outline-secondary:hover {
  color: #212529 !important;
  background-color: #aff400 !important;
  border-color: #aff400 !important;
}
